[submodule "wwrando"]
	path = wwrando
	url = https://github.com/wooferzfg/wwrando.git
	branch = no-ui-spoiler-log
[submodule "wwrando-s8"]
	path = wwrando-s8
	url = https://github.com/tanjo3/wwrando.git
	branch = s8-tournament
[submodule "wwrando-dev-tanjo3"]
	path = wwrando-dev-tanjo3
	url = https://github.com/tanjo3/wwrando.git
	branch = dev-build-randobot
[submodule "wwrando-random-settings"]
	path = wwrando-random-settings
	url = https://github.com/Aelire/wwrando.git
	branch = randobot-support-keep-gclib
