[submodule "wwrando"]
	path = wwrando
	url = https://github.com/wooferzfg/wwrando.git
	branch = no-ui-spoiler-log
[submodule "wwrando-s7"]
	path = wwrando-s7
	url = https://github.com/tanjo3/wwrando.git
	branch = s7-tournament
[submodule "wwrando-random-settings"]
	path = wwrando-random-settings
	url = https://github.com/Aelire/wwrando.git
	branch = randobot-support-keep-gclib
