name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        run: flake8

      - name: Install requirements
        run: pip install -e .

      - name: Run tests
        run: python -m unittest discover -s randobot/tests -p 'test_*.py'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.repository == 'wooferzfg/tww-rando-bot' && github.ref == 'refs/heads/main'
    concurrency: deploy

    steps:
      - name: Checkout commit
        uses: actions/checkout@v3

      - name: Deploy using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.V2_EC2_ADDRESS }}
          username: ${{ secrets.V2_EC2_USERNAME }}
          key: ${{ secrets.V2_EC2_RSA_KEY }}
          script: |
           if [ -f tww-rando-bot/docker-compose.yml ] || [ -f tww-rando-bot/compose.yml ]; then
              cd tww-rando-bot
              docker compose down --remove-orphans || true
              docker system prune -af || true
              cd ..
              rm -rf tww-rando-bot || true
            fi
            git clone --recursive https://github.com/wooferzfg/tww-rando-bot.git
            echo "${{ secrets.WWRANDO_SEED_KEY }}" > tww-rando-bot/wwrando/keys/seed_key.py
            echo "${{ secrets.WWRANDO_TANJO3_MINIBLINS_SEED_KEY }}" > tww-rando-bot/wwrando-s8/keys/seed_key.py
            echo "${{ secrets.WWRANDO_TANJO3_MINIBLINS_SEED_KEY }}" > tww-rando-bot/wwrando-dev-tanjo3/keys/seed_key.py
            echo "${{ secrets.WWRANDO_RS_SEED_KEY }}" > tww-rando-bot/wwrando-random-settings/keys/seed_key.py
            cd tww-rando-bot
            export GITHUB_TOKEN=${{ secrets.BOT_GITHUB_TOKEN }}
            export CLIENT_ID=${{ secrets.RACETIME_CLIENT_ID }}
            export CLIENT_SECRET=${{ secrets.RACETIME_CLIENT_SECRET }}
            docker compose build --no-cache --pull
            UID=$(id -u) GID=$(id -g) docker compose up -d --remove-orphans
